html {
    background: #E1E1E1;
}

body {
    text-align: center;
    font-size:1em;
}

a {
    color:#000000;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

a.nav {
    background-repeat:no-repeat;
    display:inline-block;
    height:106px;
    width:124px;
    margin-left:30px;
    margin-right:30px;
    color: #E1E1E1;
    outline: none;
}

.ad {
    width:728px;
    margin:auto;
    margin-top:20px;
}

a.previous {
    width : 125px;
    height : 99px;
    background-position : 0 -199px;
    background-image:url("/static/images/nav.png");
}

a.previous:hover {
    width : 125px;
    height : 99px;
    background-position : 0 -299px;
    background-image:url("/static/images/nav.png");
}

a.next {
    width : 125px;
    height : 99px;
    background-position : 0 0;
    background-image:url("/static/images/nav.png");
}

a.next:hover {
    width : 125px;
    height : 99px;
    background-position : 0 -99px;
    background-image:url("/static/images/nav.png");
}

/* debut footer */

.footer {
    background: url("/static/images/shadow.png") no-repeat;
    background-position: top center;
    display: inline-block;
    margin:auto;
    width:100%;
    margin: 0 0 1em 0;
    padding-top: 25px;
    text-align:center;
}

.footer ul {
    display: block;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
}

.footer li {
    color: #AAA;
    display: inline;
    padding: 0;
}

.footer li a:link, .footer li a:link,.footer li a:visited,.footer li a:active {
    color: #AAA;
    padding: .25em .5em;
    border-radius: 0.75em;
}

.footer li a {
    color: #AAA;
}

.footer li a:hover, .footer li a:focus {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: none;
    color: #000;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.footer li:after {
    content: "♦ ";
}

.footer li:last-child:after {
    content: "";
}

/* Message */

.message {
  background: white;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
  margin: auto;
  width: 400px;
}

.message h3 {
  background: no-repeat 10px center;
  border-bottom: 4px double;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
  padding: 0.5em 1em 0.4em;
  padding: 0.3em 0px 0.3em 50px;
  line-height:8px;
}

.message h3:first-letter {
  font-size: 1.2em;
}

.message p {
  padding: 0px 15px;
  font-weight: bold;
}

.message ul {
  padding-left: 50px;
}

.message.error {
  border-color: #800404;
  color: #800404;
}

.message.missing {
  border-color: #800404;
  color: #800404;
}

.message.info {
  border-color: #66a734;
  color: #66a734;
}

.message.error h3 {
  background-color: rgba(125, 0, 0, 0.5);
  background-image: url(/static/images/dialog-warning.png);
  border-color: #800404;
  margin-bottom: 10px;
}

.message.missing h3 {
  background-color: rgba(125, 0, 0, 0.5);
  background-image: url(/static/images/dialog-missing.png);
  border-color: #800404;
  margin-bottom: 10px;
}

.message.info h3 {
    background-color: rgba(102, 167, 52, 0.75);
    background-image: url("/static/images/dialog-information.png");
    border-color: #66A734;
    margin-bottom: 10px;
}

.message.info h3:hover {
  background-image: url(/static/images/dialog-information-on.png);
}


/* Generated by CSStyle www.csstyle.org */
.footer li a:link, .footer li a:link,.footer li a:visited,.footer li a:active {
  -webkit-border-top-left-radius: 0.75em;
  -webkit-border-top-right-radius: 0.75em;
  -webkit-border-bottom-right-radius: 0.75em;
  -webkit-border-bottom-left-radius: 0.75em;
}

.footer li a:hover, .footer li a:focus {
  -webkit-box-shadow: none;
  -webkit-transition: 0.2s ease-in-out;
}

.message {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}

.footer li a:hover, .footer li a:focus {
  -o-transition: 0.2s ease-in-out;
}

.footer li a:link, .footer li a:link,.footer li a:visited,.footer li a:active {
  -moz-border-radius: 0.75em;
}

.footer li a:hover, .footer li a:focus {
  -moz-box-shadow: none;
}

.message {
  -moz-border-radius: 5px;
  -moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}