<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
  <title>Emploi du temps rapide Polytech'Grenoble - {{ self.title() }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="author" content="Salem Harrache" />
  <meta content="Emploi du temps rapide {{ config.UNIVERSITY }} - {{ self.title() }}" name="description" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css" />
  <link rel="icon" type="image/png" href="/static/images/favicon.png" />
  
  <!-- JQuery includes -->
  <script type="text/javascript" src="/static/js/jquery.js"></script>
  <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
  <link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css">
     
  <script type="text/javascript" src="/static/js/weekselector.js"></script>
 
  
{% block header %}{% endblock header %}
</head>
<body>
<a href="https://github.com/SalemHarrache/ricm.quicker">
  <img style="position: absolute; top: 0; right: 0; border: 0;"
       src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
</a>
{% set messages_title = {
  "error": "Erreur",
  "info": "Information"} %}

{% for category, msgs in get_flashed_messages(with_categories=true) | sort(0) | groupby(0) %}
<div class="message {{ category }}">
  <h3>{{messages_title[category]}}</h3>
{% for category, msg in msgs %}
  <p>{{ msg }}</p>
{% endfor %}
</div>
{% endfor %}

{% block content %}{% endblock content %}

<div class="footer">
  <ul>
    <li>© 2013 <a href="http://salem.harrache.info">Salem Harrache</a></li>
    <li>Powered by <a href="http://flask.pocoo.org/">Flask</a></li>
    <li><a href="/map">Sitemap</a></li>
    {% if config.UNIVERSITY == "Polytech'Grenoble" %}
      <li><a href="http://epu.quicker.fr">Polytech'Lyon</a></li>
    {% elif config.UNIVERSITY == "Polytech'Lyon" %}
      <li><a href="http://ricm.quicker.fr">Polytech'Grenoble</a></li>
    {% endif %}
  </ul>
</div>

</body>
</html>

